* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    line-height: 1.6;
}

/* Navbar */
header {
    background: linear-gradient( rgb(50, 84, 98), rgb(35, 78, 91), rgb(44, 96, 118));
    color: rgb(251, 248, 248);
    padding-bottom: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color:rgb(255, 255, 255)
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* Hero */
.hero {
    text-align: center;
    margin-top: 40px;
}

.hero img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 20px;
}

.hero span {
    color: rgb(0, 217, 255);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: rgb(0, 217, 255);
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
.section {
    padding: 70px 80px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.gray {
    background: rgb(245, 247, 250);
}

/* Skills */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill-card {
    padding: 15px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 5px 15px oklch(0% 0 0 / 0.08);
}

/* Projects */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.project-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.project-card img {
    width: 75%;
    height: 300px;
    object-fit: fill;
}

.project-card h3 {
    margin: 15px 0 5px;
}

.project-card p {
    padding-bottom: 15px;
}

.contact-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; /* stacks on small screens */
    margin-top: 20px;
}

.contact-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 22px;
    background: white;
    color: #222;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.25s ease;
}
.phone {
    margin-top: 25px;
    font-weight: 600;
}

/* Footer */
footer {
    background: #0f2027;
    color: white;
    text-align: center;
    padding: 20px;
}
